
.kagenda {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $font-color;
  line-height: 1.2;

  p {
    margin-top: 0;
  }
}
.kagenda-tabs {
  list-style: none;
  border-bottom: 2px solid #ddd;
  margin: 0;
  padding: 0;
  font-family: inherit;
}
.kagenda-tab-li {
  display: inline-block;
}

.kagenda-tab-a {
  display: block;
  color: $font-color;
  padding: 1rem 2rem;
  &.selected {
    background: #fff;
    border-bottom: 2px solid #3DC0E3;
    margin-bottom: -2px;
  }
}
.kagenda-table {
  background: $table-background;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: solid 1px $border-color;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}
.kagenda-head {
  background-color: $shaded-background;

}
.kagenda-table-td, .kagenda-table-th {
  border: 1px solid $border-color;
  padding: $td-padding;
  box-sizing: border-box;
}
.kagenda-table-th {
  white-space: nowrap;
  font-weight: bold;
}
.kagenda-table-td.break {
  background-color: $shaded-background;
  text-transform: uppercase;
}
.kagenda-table-td.hidden {
  visibility: hidden;
}

.kagenda-table-td.selected {
  background: $selected-border-color;
  color: $selected-color;

  & .kagenda-talk-title {
    color: #fff !important;
    color: rgba(255, 255, 255, .8) !important;
    font-weight: bold;
  }
}
.kagenda-talk-details-td {
  border: 4px solid $selected-border-color;
  padding: 0;
}
.kagenda-talk-details-title,
.kagenda-talk-details-description {
  margin: $td-padding;
  & > ul {
    padding-left: 20px;
  }
}
.hint-p {
  line-height: 1.2;
  margin: 0 0 4px;
  &.small {
    font-size: smaller;
    color: $gray;
  }
}
.kagenda-logo {
  float: left;
  margin-right: 10px;
  width: 100px;
}
