$fontColor: #434852;
$linkColor: #008CBA;

$borderColor: #eee;
$tableBackground: #fff;
$shadedBackground: #f5f5f5;

$selectedBorderColor: $linkColor;
$selectedColor: #fff;

.kagenda {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $fontColor;
  line-height: 1.2;
}
.kagenda-tabs {
  list-style: none;
  border-bottom: 2px solid #ddd;
  margin: 0;
  padding: 0;
  font-family: inherit;
}
.kagenda-tab-li {
  display: inline-block;
}

.kagenda-tab-a {
  display: block;
  color: $fontColor;
  padding: 1rem 2rem;
  &.selected {
    background: #fff;
    border-bottom: 2px solid #3DC0E3;
    margin-bottom: -2px;
  }
}
.kagenda-table {
  background: $tableBackground;
  margin-bottom: 1.25rem;
  border: solid 1px $borderColor;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}
.kagenda-head {
  background-color: $shadedBackground;

}
.kagenda-table-td, .kagenda-table-th {
  border: 1px solid $borderColor;
  padding: .7rem;
  box-sizing: border-box;
}
.kagenda-table-th {
  white-space: nowrap;
  font-weight: bold;
}
.kagenda-table-td.break {
  background-color: $shadedBackground;
  text-transform: uppercase;
}
.kagenda-table-td.hidden {
  visibility: hidden;
}

.kagenda-table-td.selected {
  background: $selectedBorderColor;
  color: $selectedColor;

  & > .kagenda-talk-title {
    color: #fff !important;
    color: rgba(255, 255, 255, .8) !important;
    font-weight: bold;
  }
}
.kagenda-talk-details-td {
  border: 4px solid $selectedBorderColor;
  padding: .7rem;
}


.kagenda-authors {
  list-style: none;
  margin: 0;
  padding: 0;
}
.kagenda-author {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.kagenda-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.kagenda-author-data {
  flex-grow: 1;
  margin-left: 20px;
}
