
.ka {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $font-color;
  line-height: 1.2;

  p {
    margin-top: 0;
  }
}
.ka-hint-p {
  line-height: 1.2;
  margin: 0 0 4px;
  &.small {
    font-size: smaller;
    color: $gray;
  }
}
.ka-logo {
  float: left;
  margin-right: 10px;
  width: 100px;
}
