.ka-avatar-container {
  display: block;
  margin-bottom: 10px;
}
.ka-avatar-a {
  display: block;
  line-height: 1.5;
}

.ka-avatar-a {
  display: table;
  width: 100%
}
.ka-avatar-img, .ka-author-name {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.ka-author-name-container {
  display: table-cell;
  vertical-align: middle;
}
.ka-avatar-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: $td-padding;
  vertical-align: middle;
}
.ka-avatars {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $gray-lighter;
}
.ka-avatar-li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 12px;
}

