$avatarWidth: 5rem;
$avatarMargin: 1rem;

.ka-avatar-a {
  display: inline-block;
  margin-bottom: $avatarMargin;

  &:not(:first-child) {
    margin-left: .3rem;
  }
}
.ka-avatar-img {
  border-radius: 50%;
  width: $avatarWidth;
  height: $avatarWidth;
  border: 1px solid rgba(0,0,0,.2);
}
.ka-avatars {
  align-content: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;

  // stack all avatars one over another
  &.stacked {

    display: flex;
    justify-content: space-between;
    padding-right: $avatarWidth / 2;

    & > .ka-avatar-a {
      // allow avatars to overlap when stacked
      min-width: 0;
    }
    & > .ka-avatar-a:nth-child(1) {
      z-index: 10;
    }
    & > .ka-avatar-a:nth-child(2) {
      z-index: 9;
    }
    & > .ka-avatar-a:nth-child(3) {
      z-index: 8;
    }
    & > .ka-avatar-a:nth-child(4) {
      z-index: 7;
    }
    & > .ka-avatar-a:nth-child(5) {
      z-index: 6;
    }
  }
}
