.ka-avatar {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  margin-right: $td-padding;
  //margin-bottom: 0;
  width: auto;
}
.ka-avatars {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid $gray-lighter;
}
.ka-avatar-li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 12px;
}
.ka-avatar-and-text {
  display: flex;
  flex-flow: row;
  align-items: top;
  line-height: 1.5;
}
.ka-author-name {
  display: block;
}

