.ka-button {
  padding: .7rem 1rem;
  color: #444;
  background: #eee;
  margin: 1rem 0.8rem 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: background-color 300ms ease-out;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 2px solid #bbb;

  &:hover, &:focus {
    background: #dcdcdc;
  }

  &.primary, &.selected {
    background-color: $blue;
    border: 1px solid $blue-dark;
    color: $white;      
  }
  & > .ka-icon {
    fill: #888;
    height: 1rem;
    margin-right: .8rem;
  }
}

.ka-button:disabled {
  filter: grayscale(100%) brightness(150%);
  cursor: default;
}

.ka-button-label {
  display: none;
}
.ka-button > .ka-button-label {
  display: inline;
}

.ka-button-with-indicator {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);

  & > .ka-button-indicator {
    display: inline-flex;
    background: #999;
    border-radius: 1.2rem;
    color: #fff;
    padding: 0.2rem .5rem;
    margin: 0 0 0 0.5rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.2)  inset
  }

  &:hover > .ka-button-indicator {
    background-color: #888;
  }

}
