.ka-talk-buttons {

  margin-top: 1rem;

  > .ka-social-link {
    padding: .8rem 1rem;
    color: #444;
    background: #eee;
    margin-right: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 300ms ease-out;
    display: inline-flex;
    align-items: center;

    &:hover, &:focus {
      background: #dcdcdc;
    }

    &.primary, .selected {
      background-color: $blue;
      border: 1px solid $blue-dark;
      color: $white;      
    }
  }

  .ka-icon {
    fill: #888;
    height: 1rem;
    margin-right: .8rem;
  }
}

/*
.ka-button {
  padding: .5rem 1rem;
  background-color: $blue;
  border: 1px solid $blue-dark;
  color: $white;
  border-radius: 2px;
  transition: background-color 300ms ease-out;
  font-size: 11px;
  cursor: pointer;

  &:hover, &:focus {
    background-color: scale-color($blue, $lightness: -25%);
  }

  &[disabled], &.disabled {
    background-color: scale-color($blue, $lightness: 25%);
    border-color: scale-color($blue-dark, $lightness: 25%);
    cursor: default;
  }

  &.ka-button-secondary {
    background-color: $gray-lighter;
    border-color: $gray-light;
    color: $font-color;
  }
}
*/