.ka-overlay {
  opacity: .5;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ka-talk-details-window {
  background: $selected-border-color;
  padding: 30px 4px 4px;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px #000, 0 0 50px rgba(0, 0, 0, .2);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.ka-talk-details-viewport {
  background: $white;
  overflow: auto;
  height: 100%;
  border: 1px solid #565656;
}
.ka-talk-details-inner {
  min-height: 100%;
}
.ka-hidden {
  display: none;
}
.ka-talk-details-title,
.ka-talk-details-description {

}
.ka-talk-details-contents {
  padding: $td-padding * 2;
}
.ka-avatars {
  margin-top: 20px;
  padding: $td-padding 0 0 0;
  border-bottom: 1px solid $gray-lighter;
}
.ka-author-description > ul {
  padding-left: 20px;
  list-style-type: disc;
}
$close-width: 30px;
.ka-close {
  position: absolute;
  top: 0;
  right: 0;
  width: $close-width;
  height: $close-width;
  cursor: pointer;
  z-index: 2;

  &:before{
    content: '×';
    display: block;
    font-size: 27px;
    color: #fff;
    padding: 0 6px;
    text-align: center;
    line-height: 1.2;
  }

}

.ka-medium-up {
  display: none;
}

@media #{$medium-up} {
  .ka-medium-up {
    display: block;
  }
  .ka-medium-down {
    display: none !important;
  }
  .ka-talk-details-window {
    max-width: 980px;
    max-height: 700px;
  }
  .ka-talk-details-inner {
    display: table;
  }
  .ka-avatars {
    border-top: 0;
    border-left: 1px solid $gray-lighter;
    width: 30%;
    padding: 0;
    padding-left: $td-padding;
    margin-top: 0;
  }
  .ka-avatars, .ka-talk-details-contents {
    display: table-cell;
    vertical-align: top;
  }
}
