$close-width: 60px;
$transitionDuration: .5s;
.ka-overlay {
  background: transparent;
  background: rgba(0,0,0, .2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity $transitionDuration ease-out;
  overflow-y: auto;
  overflow-x: hidden;
}
.ka-hidden {
  opacity: 0;
}
.ka-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, .5);
  transform: translate(-50%, -50%);
  background: #ececec;
}

.ka-dialog-header {
  border-bottom: 2px solid #ccc;
  background: #fff;
  margin-bottom: 1rem;
  overflow: hidden;
  padding-left: 2 * $td-padding;
}

.ka-dialog-title {
  margin-bottom: 0;
}

.ka-stats {
  margin: 1rem 0;
  color: #444;
  display: flex;
}

.ka-dialog-contents {
  margin: $td-padding * 2;
  background: #fff;
  border: 1px solid #ddd;
}

.ka-dialog-section {
  padding: $td-padding * 2;
  &:not(:first-child) {
    border-top: 1px solid #ddd;
  }
}

.ka-author-description > ul {
  padding-left: 20px;
  list-style-type: disc;
}

.ka-close {
  float: right;
  width: $close-width;
  height: $close-width;
  cursor: pointer;
  z-index: 2;
  color: #888;
  transition: color .5s ease-out;

  &:before {
    content: '×';
    display: block;
    font-size: 40px;
    padding: 10px 6px;
    text-align: center;
    line-height: 1;

  }
  &:hover, &:active {
    color: #000;
  }

}

.ka-author-header {
  margin: 0 0 1rem;
  color: #444;
}

@media #{$medium-up} {
  .ka-dialog {
    max-width: 980px;
  }
}
