$ratingSize: 80px;
$starSize: $ratingSize / 5;

.ka-star-rating {
  display: inline-block;
  height: $starSize;
  position: relative;
  width: $ratingSize;
  vertical-align: middle;
  margin-right: .5rem;
  &:before {
    background-repeat: repeat-x;
    background-size: $starSize;
    bottom: 0;
    content: "";
    display: block;
    height: $starSize;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $ratingSize;
  }
}
.ka-star-bar {
  display: block;
  text-indent: -10000px;
  width: $ratingSize;
  height: $starSize;
  position: absolute;
  overflow: hidden;
  &:before {
    background-repeat: repeat-x;
    background-size: $starSize;
    bottom: 0;
    content: "";
    display: block;
    height: $starSize;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: 10000px;
    top: 0;
  }
}

.ka-star {
  width: $starSize;
  position: absolute;
  height: $starSize;
  left: 0;
  cursor: pointer;
}

@for $index from 1 through 4 {
  .ka-star-#{$index + 1} {
    left: $index * $starSize;
  }
}

.ka-stars-container {
  display: inline-block;
  vertical-align: middle;
}

.ka-feedback-author {
  font-size: 90%;
  line-height: 2;
}

.ka-feedback-time {
  color: $gray;
}

.ka-feedback-comment {
  margin-top: .6rem;
}

