$ratingSize: 80px;
$starSize: $ratingSize / 5;

.ka-star-rating {
  display: inline-block;
  height: $starSize;
  position: relative;
  width: $ratingSize;
  vertical-align: middle;
  margin-right: .5rem;
  &:before {
    background-repeat: repeat-x;
    background-size: $starSize;
    bottom: 0;
    content: "";
    display: block;
    height: $starSize;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $ratingSize;
  }
}
.ka-star-bar {
  display: block;
  text-indent: -10000px;
  width: $ratingSize;
  height: $starSize;
  position: absolute;
  overflow: hidden;
  &:before {
    background-repeat: repeat-x;
    background-size: $starSize;
    bottom: 0;
    content: "";
    display: block;
    height: $starSize;
    left: 0;
    position: absolute;
    right: 0;
    text-indent: 10000px;
    top: 0;
  }
}

.ka-star {
  width: $starSize;
  position: absolute;
  height: $starSize;
  left: 0;
  cursor: pointer;
}

@for $index from 1 through 4 {
    .ka-star-#{$index + 1} {
        left: $index * $starSize;
    }
}

.ka-stars-container {
    display: inline-block;
    vertical-align: middle;
}

.ka-comment {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
    resize: vertical;
    font-size: 90%;
}

.ka-star-cell {
    display: inline-block;
    padding-top: 4px;
}

.ka-feedback-time {
    color: $gray;
    font-size: 90%;
}

.ka-author {
    margin-right: 5px;
}

.ka-messages {
    margin-top: 10px;
    display: inline-block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    .ka-message {
        padding: .4rem;
        border-radius: 3px;
        display: block;
        &.alert {
            background-color: $red-dark;
            color: white;
        }
        &.warn {
            background-color: $orange;
            color: white;
        }
    }
    &.ka-hide {
        visibility: hidden;
        opacity: 0;
        .ka-message {
            display: none;
        }
    }
}

.ka-entries {
  padding-left: 0;
  li {
      width: 100%;
  }
  .ka-avatar-container {
      margin: 0;
  }
  .ka-entry-details {
      display: table-row;
  }
  .ka-feedback-entry {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-top: 5px;
  }
}

.ka-editing {
    background: rgba($gray-lighter, .3);
    border-radius: 3px;
    border: 1px solid #dedede;
    margin-bottom: 10px;
}

@media #{$medium-up} {
    .ka-messages {
        margin-top: 0;
    }
}
