$ratingSize: 80px;
$starSize: $ratingSize / 5;

.ka-star-rating {
    display: inline-block;
    height: $starSize;
    position: relative;
    width: $ratingSize;
    vertical-align: middle;
    &:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="929" height="886" viewBox="0 0 929 886"><style>path { fill: %23666666 !important }</style><path fill="%23ffffff" d="M929 343c0 8-5 17-15 27L711 567l48 279c1 3 1 7 1 12 0 15-8 27-22 27-7 1-15-1-23-6L464 747 214 879c-9 5-16 7-23 7-14 0-23-15-23-28 0-3 0-7 1-12l48-279L14 370c-9-10-14-19-14-27 0-14 10-23 31-26l280-40L437 23c7-15 16-23 27-23s20 8 28 23l125 254 280 40c21 3 32 12 32 26z"/></svg>') !important;
        background-repeat: repeat-x;
        background-size: $starSize;
        bottom: 0;
        content: "";
        display: block;
        height: $starSize;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: $ratingSize;
    }
}

.ka-star {
    width: $starSize;
    position: absolute;
    height: $starSize;
    left: 0;
}

@for $index from 1 through 4 {
    .ka-star-#{$index + 1} {
        left: $index * $starSize;
    }
}


.ka-star-bar {
    display: block;
    text-indent: -10000px;
    width: $ratingSize;
    height: $starSize;
    position: absolute;
    overflow: hidden;
    &:before {
        background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="929" height="886" viewBox="0 0 929 886"><style>path { fill: %23f98220 !important }</style><path fill="%23000000" d="M929 343c0 8-5 17-15 27L711 567l48 279c1 3 1 7 1 12 0 15-8 27-22 27-7 1-15-1-23-6L464 747 214 879c-9 5-16 7-23 7-14 0-23-15-23-28 0-3 0-7 1-12l48-279L14 370c-9-10-14-19-14-27 0-14 10-23 31-26l280-40L437 23c7-15 16-23 27-23s20 8 28 23l125 254 280 40c21 3 32 12 32 26z"/></svg>') !important;
        background-repeat: repeat-x;
        background-size: $starSize;
        bottom: 0;
        content: "";
        display: block;
        height: $starSize;
        left: 0;
        position: absolute;
        right: 0;
        text-indent: 10000px;
        top: 0;
    }
}

.ka-stars-container {
    display: inline-block;
    vertical-align: middle;
}

.ka-comment {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
    resize: vertical;
}

.ka-star-cell {
    display: inline-block;
    padding-top: 4px;
}

.ka-feedback-time {
    font-style: italic;
}

.ka-messages {
    margin-top: 10px;
    display: inline-block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    &.ka-hide {
        visibility: hidden;
        opacity: 0;
    }
}

ul.ka-entries {
    padding-left: 0;
    li {
        width: 100%;
    }
    .ka-avatar-container {
        margin: 0;
    }
    .ka-entry-details {
        display: table-row;
    }
    .ka-feedback-entry {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding-top: 5px;
        .ka-button {
            margin-right: 10px;
        }
    }
}

.ka-editing {
    background: rgba($gray-lighter, .3);
    border-radius: 3px;
}

@media #{$medium-up} {
    .ka-messages {
        margin-top: 0;
    }
}
