.ka-feedback-form {
  background: #00a1ff;
  border-bottom: 2px solid #0982ca;
  margin-bottom: 0;
  color: #fff;

  &[disabled] {
    opacity: .7;
    filter: grayscale(80%);
  }



  & .ka-star-rating:before {
    filter: grayscale(100%) brightness(200%);
  } 
  & > .ka-avatar-text {
    display: flex;
    align-items: center;
  }
  & .ka-button {
    margin-bottom: 1rem;
  }
}
.ka-form-middle {
  flex-grow: 1;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ka-form-username {
  margin-bottom: .5rem;
}

$triangle-width: .5rem;
.ka-message {
  margin-top: 1rem;
  padding: .7rem 1rem;
  border-radius: 3px;
  display: inline-block;
  text-shadow: none;
  border: 2px solid #fff;
  color: #fff;
  position: relative;

  &::before {
    position: absolute;
    top: -$triangle-width;
    left: 1rem;
    display: block;
    border: $triangle-width solid transparent;
    border-top-width: 0;
    content: '';
    border-bottom-color: #fff;
  }
  &.alert {
    background-color: #d81825;
  }
  &.warn {
    background-color: $orange;
  }
  &.info {
    background-color: #1daa13;
  }
}
.ka-feedback-form .ka-message {
  box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

.ka-feedback-comment {
  resize: vertical;
  border-color: #ddd;
  height: 3rem;
  transition: height .2s 2s ease-out;
  font-family: inherit;
  width: 100%;
  &:focus {
    height: 5rem;
    outline-color: rgba(0,0,0,.5);
  }
}
