.ka-feedback-form {
  background: #00a1ff;
  border-bottom: 2px solid #0982ca;
  margin-bottom: 0;
  color: #fff;

  &[disabled] {
    opacity: .7;
    filter: grayscale(80%);
  }



  & .ka-star-rating:before {
    filter: grayscale(100%) brightness(200%);
  } 
  & > .ka-avatar-text {
    display: flex;
    align-items: center;
  }
  & .ka-button {
    margin-bottom: 1rem;
  }
}
.ka-form-middle {
  flex-grow: 1;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ka-form-username {
  margin-bottom: .5rem;
}
.ka-messages {
    margin-top: 10px;
    display: inline-block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    .ka-message {
        padding: .4rem;
        border-radius: 3px;
        display: block;
        &.alert {
            background-color: $red-dark;
            color: white;
        }
        &.warn {
            background-color: $orange;
            color: white;
        }
    }
    &.ka-hide {
        visibility: hidden;
        opacity: 0;
        .ka-message {
            display: none;
        }
    }
}

.ka-feedback-comment {
  resize: vertical;
  border-color: #ddd;
  height: 3rem;
  transition: height .2s ease-out;
  font-family: inherit;
  width: 100%;
  &:focus {
    height: 5rem;
    outline-color: rgba(0,0,0,.5);
  }
}
