$iconWidth: .8rem;

.ka-social-link {
  padding: .3rem;
  display: inline-block;
  color: inherit;

  &:hover, &:focus {
    color: #666;
    & .ka-icon-star {
      fill: #f98220;
    } 
    & .ka-icon-video, 
    & .ka-icon-slides {
      fill: #b927e1;
    }

  }
}

.ka-social-link.selected,
.ka-social-link:hover, 
.ka-social-link:focus {
  & .ka-icon-heart{
    fill: #d80027;
  } 
}
.ka-like-link {
  flex-grow: 1;
  text-align: right;
}

a.ka-social-link {
  cursor: pointer;
}
/*
.ka-td-footer {
  & > .ka-social-link:not(:hover) {
    & .ka-icon-star {
      filter: grayscale(100%);
      -moz-filter:    grayscale(100%);
    }
    & .ka-icon-heart:not(.selected) {
      filter: grayscale(100%) brightness(300%);
      -moz-filter:    grayscale(100%) brightness(300%);
    }
    & .ka-icon-video, & .ka-icon-slides {
      filter: grayscale(100%) brightness(180%);
      -moz-filter:    grayscale(100%) brightness(180%);
    }
  }
}
*/

.ka-icon {
  display: inline-flex;
  height: $iconWidth;
  width: auto;
  fill: #ccc;

  &.with-label {
    margin-right: .2rem;
  }
}


.ka-star-bar:before, .ka-star-rating:before {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 104.853 100" id="svg3787"><style id="style3789">path { fill: %23f98220 !important }</style><path d="M104.853 38.713c0 .903-.564 1.92-1.693 3.048L80.248 63.996l5.418 31.49c.113.34.113.79.113 1.355 0 1.693-.904 3.047-2.484 3.047-.79.113-1.693-.113-2.596-.677L52.37 84.312 24.153 99.21c-1.015.564-1.805.79-2.595.79-1.58 0-2.596-1.693-2.596-3.16 0-.34 0-.79.112-1.355l5.418-31.49L1.58 41.76C.564 40.633 0 39.617 0 38.714c0-1.58 1.13-2.596 3.5-2.934L35.1 31.263l14.22-28.668C50.113.903 51.13 0 52.37 0c1.242 0 2.258.903 3.16 2.596l14.11 28.668 31.602 4.515c2.37.337 3.61 1.353 3.61 2.933z" id="path3791" fill="#f98220"/></svg>');
}

.ka-star-rating:before {
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  opacity: .5; // less contrast
} 


/*
.ka-like {
  display: inline-block;
  color: $gray-lighter;
  &:before {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  &[data-state=selected] {
    color: $red-dark;
  }
}
*/