$iconWidth: 1rem;
.ka-icon {
  display: inline-block;
  width: $iconWidth;
  height: $iconWidth;
  background-size: contain;
  margin: 0 .2 * $iconWidth .2 * $iconWidth 0
}

.ka-icon-slides {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="104.297" cy="357.933" r="48.482" fill="#27aae1" fill-rule="evenodd" transform="matrix(1.0313 0 0 1.0313 -57.563 -319.14)"/><g fill="#fff" stroke-width="6.6" stroke="#fff"><path d="M30.57 25.527h22.923v15.596H69.43v33.35H30.57z" stroke-width="1.8300480000000001"/><path d="M53.752 25.27l15.946 15.59" fill-rule="evenodd" stroke-width="1.8300480000000001"/></g></svg>');
}

.ka-icon-video {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g transform="matrix(1.0313 0 0 1.0313 -58.634 -317.353)" fill-rule="evenodd"><circle r="48.482" cy="356.201" cx="105.336" fill="#27aae1"/><path d="M89.444 378.543c4.61-.622 38.272-16.634 38.272-22.31 0-5.678-33.436-21.665-37.85-22.21-2.67 3.474-2.822 40.583-.422 44.52z" fill="#e6e7e8"/></g></svg>');
}

.ka-icon-heart {
  background-image: url('data:image/svg+xml;charset=US-ASCII,');
}

// todo: merge both stars and use styles for colors
// merge also setyles in feedback.scss
.ka-star-bar:before {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="929" height="886" viewBox="0 0 929 886"><style>path { fill: %23f98220 !important }</style><path fill="%23000000" d="M929 343c0 8-5 17-15 27L711 567l48 279c1 3 1 7 1 12 0 15-8 27-22 27-7 1-15-1-23-6L464 747 214 879c-9 5-16 7-23 7-14 0-23-15-23-28 0-3 0-7 1-12l48-279L14 370c-9-10-14-19-14-27 0-14 10-23 31-26l280-40L437 23c7-15 16-23 27-23s20 8 28 23l125 254 280 40c21 3 32 12 32 26z"/></svg>') !important;
}

.ka-star-rating:before {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="929" height="886" viewBox="0 0 929 886"><style>path { fill: %23cccccc !important }</style><path fill="%23ffffff" d="M929 343c0 8-5 17-15 27L711 567l48 279c1 3 1 7 1 12 0 15-8 27-22 27-7 1-15-1-23-6L464 747 214 879c-9 5-16 7-23 7-14 0-23-15-23-28 0-3 0-7 1-12l48-279L14 370c-9-10-14-19-14-27 0-14 10-23 31-26l280-40L437 23c7-15 16-23 27-23s20 8 28 23l125 254 280 40c21 3 32 12 32 26z"/></svg>') !important;
} 

/*
.ka-like {
  display: inline-block;
  color: $gray-lighter;
  &:before {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  &[data-state=selected] {
    color: $red-dark;
  }
}
*/