@import 'settings.scss';
@import 'agenda.scss';
@import 'tags.scss';
@import 'avatars.scss';
@import 'tabs.scss';
@import 'dialog.scss';
@import 'table.scss';
@import 'feedback.scss';
@import 'icons.scss';
@import 'buttons.scss';
@import 'form.scss';
@import 'loading.scss';
@import 'mobile.scss';