// Colors
$green: #388E3C;
$green-light: #4CAF50;
$green-dark: #1b6b3f;
$blue-darker: #3B596D;
$blue-dark: #01579B;
$blue: #0288D1;
$blue-light: #81D4FA;
$red-dark: #d00b18;
$orange-dark: #E65100;
$orange: #f98220;
$yellow: #FDBF3B;
$teal-dark: #00796B;
$pink-dark: #e81260;
$brown-dark: #c15711;
$purple-dark: #642dad;
$gray-dark: #212121;
$gray: #777;
$gray-light: #B6B6B6;
$gray-lighter: #D0D0D0;
$white: #fff;

$font-color: #434852;
$link-color: #008CBA;

$table-background: #fff;
$shaded-background: #f5f5f5;

$selected-border-color: $link-color;
$selected-color: #fff;

$td-padding: .7rem;

// screen sizes
$small: "only screen and (max-width: 540px)";
$medium-up: "only screen and (min-width: 700px)";
$large-up: "only screen and (min-width: 980px)";
