.ka-table {
  background: $table-background;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: solid 1px $border-color;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}
.ka-head {
  background-color: $shaded-background;

}
.ka-table-td, .ka-table-th {
  border: 1px solid $border-color;
  padding: $td-padding;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  min-width: 100px;

}
.ka-table-th {
  white-space: nowrap;
  font-weight: bold;
}
.ka-feedback-footer {
  position: absolute;
  bottom: 1.3rem;
}
.ka-author-brief {
  text-transform: uppercase;
  line-height: 1;
  font-size: 10px;
  color: $gray;
  position: absolute;
  bottom: 3px;
  height: $td-padding;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin-left: -$td-padding;
  padding-left: $td-padding;
  padding-right: $td-padding;
  margin-bottom: 0;
}
.ka-table-td.talk {
  padding-bottom: 50px;
}
.ka-table-td.break {
  background-color: $shaded-background;
  text-transform: uppercase;
  color: $gray;
  text-align: center;
}
.ka-table-td.hidden {
  visibility: hidden;
}

.ka-table-td.selected {
  background: $selected-border-color;
  border-color: $selected-border-color;
  color: $selected-color;

  & .ka-talk-title {
    color: #fff !important;
    color: rgba(255, 255, 255, .8) !important;
    font-weight: bold;
  }
  & .ka-author-brief {
    color: $selected-color;
  }
}
.ka-table-td .ka-like-container {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}

.ka-mobile-only {
  display: none;
}


@media #{$small} {

  .ka-mobile-only {
    display: block;
  }

  .ka-mobile-hidden {
    display: none;
  }

  .ka-table, .ka-table-tr, .ka-table-th, .ka-body {
    display: block;
  }

  .ka-table-th {
    background-color: $shaded-background;
    padding-left: $td-padding + 1rem;
    cursor: pointer;
    &:after {
      float: right;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      border: 1px solid #ccc;
      content: '+';
    }
  }

/*
  .ka-table-tr.ka-expanded {
    & > .ka-table-td {
      display: block;
    }

    & > .ka-table-th:after {
      content: '-';
    }
  }
*/
  .ka-head, .ka-table-th:only-child,  .ka-table-td, .ka-table-td-empty {
    display: none;
  }

  .ka-label, .ka-time {
    font-size: 80%;
    border-radius: 3px;
    background-color: #807e7e;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
  }


  $colors: $green-dark, $orange-dark, $pink-dark, $purple-dark, $yellow, $teal-dark, $red-dark, $blue-darker, $brown-dark, $gray-dark;

  @for $i from 1 through length($colors) {
    .ka-label-#{$i - 1} {
      background-color: nth($colors, $i);
    }
  }

}
