$tdGradientColor1: #00a1ff;
$tdGradientColor2: #0982ca;
$border-color: #9cb9c9;

.ka-table {
  background: $table-background;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-spacing: 5px;
  table-layout: fixed;
  font-size: inherit;
  line-height: 1.4;

  // you may want to change this value for really big tables
  width: 100%;
}
.ka-td, .ka-th {
  border: 1px solid #aaa;
  padding: $td-padding;
  vertical-align: top;
}
.ka-th:not(:first-child) {
  // specify the widths of all columns
  width: 15rem;
}
.ka-th:first-child {
  // specify the widths of the first column
  width: 8rem;
}
.ka-th {
  white-space: nowrap;
  font-weight: bold;
  background-color: $shaded-background;
  border-color: #aaa;

  // remove rows where there are no cells
  &:only-child {
    display: none;
  }

}

.ka-td.talk {
  background-image: linear-gradient(175.5deg, $tdGradientColor1 70px, transparent 71px, transparent), linear-gradient(177deg, $tdGradientColor2 70px, white 71px, white);
  padding-bottom: 0;
  height: 100%;
  border-color: $border-color;

  & > .ka-td-contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}


// name of the user in the table
.ka-username {
  text-transform: uppercase;
  line-height: 1.1;
  color: $gray;
  text-align: center;
  margin: 1rem 0;
}

// title of the talk
.ka-talk-title {
  text-align: center;
  flex-grow: 1;
  margin: 0 0 1rem;
}

.ka-td.break {
  background-color: $shaded-background;
  text-transform: uppercase;
  color: $gray;
  text-align: center;
  font-weight: bold;
}

.ka-td.filtered-out {
  opacity: .2;
  & > .ka-td-contents {
    filter: blur(3px);
  }
}

.ka-td {
  transition: opacity .2s ease-out;
}

.ka-td-footer {
  color: #aaa;
  font-size: .9rem;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}