.ka-tags {
  margin-top: 2*$td-padding;
}
.tag {
  -webkit-user-select: none;
  user-select: none;

  border: 1px solid scale-color(#e7e7e7, $lightness: -25%);
  border-radius: 3px;

  display: inline-block;
  font-weight: bold;
  font-size: .8rem;
  line-height: 1.2rem;
  margin-bottom: 5px;
  margin-right: 3px;
  white-space: nowrap;
  padding: 3px 7px;
  background-color: #008CBA;
  color: #fff;

}
