.kagenda-tags {
  margin: 2*$td-padding $td-padding $td-padding;
}
.tag {
  -webkit-user-select: none;
  user-select: none;

  border: 1px solid scale-color(#e7e7e7, $lightness: -25%);
  border-radius: 3px;

  display: inline-block;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.2rem;
  margin-bottom: 5px;
  margin-right: 3px;
  white-space: nowrap;
  padding: 3px 7px;
  background-color: #008CBA;
  color: #fff;

  &:hover {
    border-color: #C2C2C2;
  }

  &.tag0 {
    background-color: #008CBA;
    border-color: scale-color(#008CBA, $lightness: -25%);
  }

  &.tag1 {
    background-color: $orange-dark;
    border-color: scale-color($orange-dark, $lightness: -25%);
  }
  &.tag2 {
    background-color: $teal-dark;
    border-color: scale-color($teal-dark, $lightness: -25%);
  }
  &.tag3 {
    background-color: $red-dark;
    border-color: scale-color($red-dark, $lightness: -25%);
  }
  &.tag4 {
    background-color: $green;
    border-color: scale-color($green, $lightness: -25%);
  }
  &.tag5 {
    background-color: $pink-dark;
    border-color: scale-color($pink-dark, $lightness: -25%);
  }
  &.tag6 {
    background-color: $brown-dark;
    border-color: scale-color($brown-dark, $lightness: -25%);
  }
  &.tag7 {
    background-color: $purple-dark;
    border-color: scale-color($purple-dark, $lightness: -25%);
  }
  &.tag8 {
    background-color: $gray-dark;
    border-color: scale-color($gray-dark, $lightness: -25%);
  }
}
