{
  "presets": [ "es2015" ],
  "plugins": [ 
    "transform-object-rest-spread", 
    [ 
      "transform-react-jsx", 
      { 
        "pragma": "h" 
      } 
    ],
    // replace reactr as it's used by AltContainer'
    [
      "module-resolver",
      {
        "alias": {
          "react": "preact-compat"
        }
      }
    ] 
  ]
}